/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);


/* Universal
-------------------------------------------------- */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-position: center top;
  background-image: url(assets/bg-academic.jpg);
  background-repeat: repeat;
  transition: background-image 0.3s ease;
  -webkit-transition: background-image 0.3s ease;
  font-family: 'Open Sans';
  font-weight: 300;
  text-decoration: none;
  background-color: black;
}

body {
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar { 
  display: none; 
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

a {
  margin-right: 5%;
}

hr {
  border: none;
}

.sectionheader {
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, td, th, span {
	font-family: 'Open Sans';
  font-weight: 500;
  margin: 0;
  color: #101010;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

h2 {
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: rgb(240, 240, 240);
}

h3 {
  font-weight: 300;
  font-size: 1.1rem;
}

h4 {
  font-weight: 400;
  font-size: .8rem;
}

h5 {
  font-weight: 400;
  font-size: .8rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

/* Header
-------------------------------------------------- */

#header {
  z-index: 2;
  padding: 5px;
  text-align: center;
  line-height: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  min-height: 60px;
  background-color: rgba(75, 110, 145, 0.9);
}

#headercontent {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#intro h3 {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}

.extrainfo {
  height: 1.7rem;
  padding-top: .8rem;
  display: inline-block;
}

.iteminfo {
  margin-top: -7px;
  margin-bottom: 5px;
}

#temporary > h3 {
  text-align: center;
}

/* Hides Google Maps' report error button */
.gm-style-cc {
	display: none;
}

#background {
	position: fixed;
	height: 100%;
	width: 100%;
	background-position: center top;
	background-size: cover;
	background-image: url(assets/bg-pattern-1.jpg);
	transition: background-image 0.3s ease;
  -webkit-transition: background-image 0.3s ease;
}



#title {
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: white;
}



#content {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* enables inertial scrolling on iOS: http://cooshtee.com/blog/2012/11/add-inertial-scrolling-to-a-fixed-height-div-in-ios/ */
  padding-bottom: 100px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.bubble {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  -webkit-transition: top .2s;
  transition: top .2s;
  padding: 0 2%;
}

.bubblecontent {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: auto;
}
.bubble h2 {
  border-bottom: rgb(225, 225, 225) 1px solid;
  padding: 2%;
}
.icon {
  margin: 10 3%;
  width: 1.9rem;
  height: auto;
}

.fltrt {
  float: right;
}

.fltlft {
  float: left;
}

#halName {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
}

.ifon #route-selector {
  display: none;
}

nav ul ul {
  display: none;
}

/*Hide dropdown links until they are needed*/
nav ul li: hover > ul {
  display: block;
}





/* Bubble-specific stuff
-------------------------------------------------- */

/* JOEY */
#map_canvas {
	height: 230px;
	margin: 0.5rem;
	border-radius: 5px;
}
#joey td {
  width: 33%;
  text-align: center;
}

/* RADIO */
#radiobutton {
  float: left;
  margin-right: 2%;
}




/* EVENTS */
#events {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
.time, .place {
	font-size: .9rem;
}
.time {
	padding-right: 5px;
	text-align: right;
}

#intro {
  padding: 15px;
  text-align: center;
}

/* DINING */
#dining, #diningfull {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
#dining p, #diningfull p {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
#diningfull {
  display: none;
}




/* NEWS */
#news {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

/* PLACES */
#places {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

/* SPORTS */
#sports {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

/* LINKS */
#links {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
#links > a {
  margin-top: 5px;
}





table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  padding: 0;
}
th {
	font-size: 1.1rem;
	text-align: left;
	padding: 0;
}
td {
  padding: 0;
}


/*
====================
RESPONSIVE COMPONENTS
====================
*/
/*@media (min-width: 960px) {
#content {
  width: 90%;
  margin: 60px auto 0;
}

.bubble {
  width: 49%;
  float: left;
  margin-right: .5%;
  margin-left: .5%;
}

.icon {
  margin: 10 5.2%;
}
}
*/



/* iOS Status Bar correction
-------------------------------------------------- */
@media
	only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3),  /* iPhone 6 Plus */
	only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2),  /* iPhone 6      */
	only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2),  /* iPhone 5      */
	only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3),       /* iPhone 4      */
	only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-aspect-ratio: 3/4)       /* iPads         */ {
#header {
  padding-top: 20px;
}

#header-bg {
  height: 70px;
}

#content {
  margin-top: 75px !important;
}
}



/* Dropdown menu
http://cssdeck.com/labs/another-simple-css3-dropdown-menu
-------------------------------------------------- */
#buttonright > ul {
  margin: 0;
  background-image: url(assets/ico-more.png);
  background-size: contain;
  list-style: none;
}
#buttonright > ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 15px;
  cursor: pointer;
}
#buttonright > ul li ul {
  padding: 0;
  position: absolute;
  top: 30px;
  right: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
#buttonright > ul li ul li { 
  background: rgba(0, 0, 0, 0.6); 
  display: block; 
  color: #fff;
}
#buttonright > ul li ul li a {
  float: none;
  font-family: 'Open Sans';
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
  font-size: 1rem;
}
#buttonright > ul li ul li:hover {
  background: rgba(58, 58, 58, 0.6);
}
#buttonright > ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}




/* Themes
-------------------------------------------------- */

/* Blue */
.bubbletitle.color1 {
  background-color: rgba(75, 110, 145, 0.9);
}
#header.color1 {
  background-color: rgba(75, 110, 145, 0.9);
}

/* Green */
.bubbletitle.color2 {
  background-color: rgba(98, 145, 75, 0.9);
}
#header.color2 {
  background-color: rgba(98, 145, 75, 0.9);
}

/* Red */
.bubbletitle.color3 {
  background-color: rgba(150, 52, 52, 0.9);
}
#header.color3 {
  background-color: rgba(150, 52, 52, 0.9);
}


/* NIGHT MODE
-------------------------------------------------- */
html.night {
  background-image: none;
}
.bubbletitle.night {
  background-color: #2C2C2C;
  color: #F0F0F0;
}
.bubblecontent.night {
  background-color: #454545;
}
#header.night {
  background-color: rgba(29, 42, 55, 0.9);
}
.night h2 {
  color: rgba(108, 159, 209, 0.9);
}
.night h1, .night h3, .night h4, .night h5, .night h6, .night p, .night td, .night th, .night span {
  color: #bebebe;
}





/* Animations
http://daneden.github.io/animate.css/
-------------------------------------------------- */
.animated {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* Fade in */
.fadeIn {-webkit-animation-name: fadeIn; animation-name: fadeIn;}
@-webkit-keyframes fadeIn {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fadeIn {0% {opacity: 0;} 100% {opacity: 1;}}
/* Fade out */
.fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut;}
@-webkit-keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;}}
@keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;}}


/* Fade in right */
.fadeInRight {-webkit-animation-name: fadeInRight;animation-name: fadeInRight;}
@-webkit-keyframes fadeInRight {
  0% {opacity: 0; -webkit-transform: translate3d(1%, 0, 0); transform: translate3d(1%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}
@keyframes fadeInRight {
  0% {opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}
/* Fade out right */
.fadeOutRight {-webkit-animation-name: fadeOutRight; animation-name: fadeOutRight;}
@-webkit-keyframes fadeOutRight {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}
}
@keyframes fadeOutRight {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0);}
}

/* Fade in left */
.fadeInLeft {-webkit-animation-name: fadeInLeft; animation-name: fadeInLeft;}
@-webkit-keyframes fadeInLeft {
  0% {opacity: 0; -webkit-transform: translate3d(-1%, 0, 0); transform: translate3d(-1%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none;transform: none;}
}
@keyframes fadeInLeft {
  0% {opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}

/* Fade out left */
.fadeOutLeft {-webkit-animation-name: fadeOutLeft; animation-name: fadeOutLeft;}
@-webkit-keyframes fadeOutLeft {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
}
@keyframes fadeOutLeft {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0);}
}







