/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,400);


/* Universal
-------------------------------------------------- */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-position: center top;
  background-image: url(assets/bg-academic.jpg);
  background-repeat: repeat;
  background-size: cover;
  transition: background-image 0.3s ease;
  -webkit-transition: background-image 0.3s ease;
  font-family: 'Open Sans';
  font-weight: 300;
  text-decoration: none;
  background-color: black;
}

body {
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar { 
  display: none; 
}

ul, ol, dl {
  padding: 0;
  margin: 0;
}

a {
  margin-right: 5%;
  text-decoration: none;
}

hr {
  border: none;
}

.sectionheader {
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, td, th, span {
	font-family: 'Open Sans';
  font-weight: 500;
  margin: 0;
  /*color: #101010;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

/* H2 used only for bubble headings */
h2 {
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.2rem;
  color: rgb(240, 240, 240);
}

h3 {
  font-weight: 300;
  font-size: 1.1rem;
}

/* H4 used to delineate sections of listed content */
h4 {
  background-color: rgb(177, 182, 203);
  margin: 0 -2%;
  padding: 0 2%;
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .8rem;
}

h5 {
  font-weight: 400;
  font-size: .8rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

/* HEADER
-------------------------------------------------- */
#header {
  z-index: 2;
  padding: 5px;
  text-align: center;
  line-height: 50px;
  height: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0;
  min-height: 60px;
  background-color: rgba(75, 110, 145, 0.9);
}

#headercontent {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.headerbutton {
  vertical-align: top;
}
.headerbutton img {
  height: 100%;
  padding: 10px;
}


.title {
  /*width: 70%;*/
}

.icon {
  margin: 10px 3%;
  width: 1.9rem;
  height: auto;
}


.fltrt {
  float: right;
}

.fltlft {
  float: left;
}







.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-content {
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
  color: white;
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
}

.md-content > div {
	font-size: 1.15em;
}
.md-content > .bubblecontent {
  background-color: white;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
	white-space: initial;
	line-height: 28px;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
	list-style-type: none;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}


/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


























#intro h3 {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}

.extrainfo {
  padding: .8rem .8rem 0 0;
  color: rgb(240, 240, 240);
}

.iteminfo {
  margin-top: -7px;
  margin-bottom: 5px;
}

#joeyfull h3 {
  text-align: center;
}

/* Hides Google Maps' report error button */
.gm-style-cc {
	display: none;
}

#background {
	position: fixed;
	height: 100%;
	width: 100%;
	background-position: center top;
	background-size: cover;
	background-image: url(assets/bg-pattern-1.jpg);
	transition: background-image 0.3s ease;
  -webkit-transition: background-image 0.3s ease;
}



#title {
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: white;
}



#content {
  margin-top: 60px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*-webkit-overflow-scrolling: touch;*/ /* enables inertial scrolling on iOS: http://cooshtee.com/blog/2012/11/add-inertial-scrolling-to-a-fixed-height-div-in-ios/ */
  padding-bottom: 100px;
}

#bubblecontainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  -webkit-overflow-scrolling: touch;
}

.bubble {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  padding: 0 2%;
}

.bubblecontent {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.85);
  overflow: auto;
}
.bubble h2 {
  padding: 2%;
}




#halName {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
}

.ifon #route-selector {
  display: none;
}

nav ul ul {
  display: none;
}

/*Hide dropdown links until they are needed*/
nav ul li: hover > ul {
  display: block;
}

.full{
  display: none;
}

/* BUBBLE-SPECIFIC
-------------------------------------------------- */

/* JOEY */
#map_canvas {
	height: 230px;
	margin: 0.5rem;
	border-radius: 5px;
}
#joey td, #joeyfull td{
  width: 33%;
  text-align: center;
}
.old_time {
  color: rgb(178, 178, 178);
}

/* RADIO */

.radiobutton {
  float: left;
  margin-right: 2%;
  width: 48px;
  z-index: 5;
}
.songurl span {
  color: rgb(0, 8, 150);
}
marquee {
  width: 60%;
}
#radiofull a.songurl {
  white-space: initial;
}

.radioplayer {
  overflow: auto;
}

.songhistory {
  margin-top: 2%;
}

.song {
  padding: 5px 0px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
.song:last-child {
  border-bottom: none;
}

.songbutton {
  float: right;
  margin: 10 3%;
  width: 1.9rem;
  height: auto;
}
.songbutton > ul {
  margin: 0;
  background-image: url(assets/ico-more.png);
  background-size: contain;
  list-style: none;
  height: 30px;
}
.songbutton > ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 15px;
  cursor: pointer;
}


.albumart {
  width: 150px;
  max-width: 25%;
  float: left;
  background-image: url(assets/dummy-albumart.jpg);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 200ms ease-out;
  cursor: pointer;
  /*
  max-height: 111px;
  position: absolute;
  */
}

.albumart .play {
  content: url("assets/ico-play.png") url("assets/ico-pause.png");
  background: url("assets/ico-play.png") no-repeat center center;
  background-size: auto;
  height: 100%;
  width: 100%;
  opacity: .8;
  filter: alpha(opacity=80);
  transition: all 0.2s ease-out;
}

#radiofull .songname {
  font-size: 1.5rem;
}











/* EVENTS */
#events {
}
.time, .place {
	font-size: .9rem;
}
.time {
	padding-right: 5px;
	text-align: right;
}

#intro {
  padding: 15px;
  text-align: center;
}

/* DINING */
#dining, #diningfull {
}
#dining p, #diningfull p {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
#diningfull {
  display: none;
}
.selected_meal {
  font-weight: bold;
} 

#foodlist > span {
  width: 100%;
}
/* TODO: someone (andy) plz make overflow nice, make titles look nice :) */

.dininghall {
  margin-bottom: 20px;
}

.dining_menu_item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.foodlist h4:nth-child(1) {background-color: #B8BCCD;}
.foodlist h4:nth-child(2) {background-color: #B9CEC2;}
.foodlist h4:nth-child(3) {background-color: #CEC7B9;}
.foodlist h4:nth-child(4) {background-color: #CEB9B9;}
.foodlist h4:nth-child(5) {background-color: #CCB9CE;}
.foodlist h4:nth-child(6) {background-color: #B9CEC9;}

.foodlist h5 {
  line-height: 2rem;
}





/* NEWS */
#news {
}

/* PLACES */
#places {
}

/* SPORTS */
#sports {
}

/* LINKS */
#links {
}
#links > a {
  margin-top: 5px;
}





table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  padding: 0;
}
th {
	font-size: 1.1rem;
	text-align: left;
	padding: 0;
}
td {
  padding: 0;
}

/* IOS STATUS BAR CORRECTION
-------------------------------------------------- */
@media
	only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-device-pixel-ratio: 3),  /* iPhone 6 Plus */
	only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2),  /* iPhone 6      */
	only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2),  /* iPhone 5      */
	only screen and (min-device-width: 320px) and (max-device-width: 480px) and (device-aspect-ratio: 2/3),       /* iPhone 4      */
	only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (device-aspect-ratio: 3/4)       /* iPads         */ {
/*
#header {
  padding-top: 20px;
}

#header-bg {
  height: 70px;
}

#content {
  margin-top: 75px !important;
}
*/
}

#header.standalone {
  height: 75px !important;
  padding-top: 20px;
}

#content.standalone {
  margin-top: 75px !important;
}

/* DROPDOWN MENU
http://cssdeck.com/labs/another-simple-css3-dropdown-menu
-------------------------------------------------- */
/*
#buttonright > ul {
  margin: 0;
  background-image: url(assets/ico-more.png);
  background-size: contain;
  list-style: none;
}
#buttonright > ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 15px;
  cursor: pointer;
}
#buttonright > ul li ul {
  padding: 0;
  position: absolute;
  top: 30px;
  right: 0;
  width: 150px;
  display: none;
  opacity: 0;
  visibility: hidden;
}
#buttonright > ul li ul li { 
  background: rgba(0, 0, 0, 0.6); 
  display: block; 
  color: #fff;
}
#buttonright > ul li ul a li {
  float: none;
  font-family: 'Open Sans';
  font-weight: 500;
  color: #FFF;
  text-decoration: none;
  font-size: 1rem;
}
#buttonright > ul li ul li:hover {
  background: rgba(58, 58, 58, 0.6);
}
#buttonright > ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
*/



/* COLORS
-------------------------------------------------- */

/* Blue */
#header.color1, .bubbletitle.color1 {
  background-color: rgba(75, 110, 145, 0.9);
}

/* Green */
#header.color2, .bubbletitle.color2 {
  background-color: rgba(119, 161, 98, 0.9);
}

/* Red */
#header.color3, .bubbletitle.color3 {
  background-color: rgba(150, 52, 52, 0.9);
}

/* Gold */
#header.color4, .bubbletitle.color4{
  background-color: rgba(202, 174, 86, 0.9);
}

/* Purple */
#header.color5, .bubbletitle.color5{
  background-color: rgba(154, 83, 195, 0.9);
}

/* NIGHT MODE
-------------------------------------------------- */
html.night {
  background-image: none;
}
.bubbletitle.night {
  background-color: #2C2C2C;
  color: #F0F0F0;
}
.bubblecontent.night {
  background-color: #454545;
}
#header.night {
  background-color: rgba(29, 42, 55, 0.9);
}
.night h2 {
  color: rgba(108, 159, 209, 0.9);
}
.night h1, .night h3, .night h4, .night h5, .night h6, .night p, .night td, .night th, .night span {
  color: #bebebe;
}
.a{}
.b{-webkit-animation-delay: .1s; animation-delay: .1s;}
.c{-webkit-animation-delay: .2s; animation-delay: .2s;}
.d{-webkit-animation-delay: .3s; animation-delay: .3s;}
.e{-webkit-animation-delay: .4s; animation-delay: .4s;}
.f{-webkit-animation-delay: .5s; animation-delay: .5s;}
.g{-webkit-animation-delay: .6s; animation-delay: .6s;}
.h{-webkit-animation-delay: .7s; animation-delay: .7s;}

/* Animations
http://daneden.github.io/animate.css/
-------------------------------------------------- */
.animated {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

/* Fade in */
.fadein {-webkit-animation-name: fadein; animation-name: fadein;}
@-webkit-keyframes fadein {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fadein {0% {opacity: 0;} 100% {opacity: 1;}}
/* Fade out */
.fadeout {-webkit-animation-name: fadeout; animation-name: fadeout;}
@-webkit-keyframes fadeout {0% {opacity: 1;} 100% {opacity: 0;}}
@keyframes fadeout {0% {opacity: 1;} 100% {opacity: 0;}}


/* Fade in right */
.fadeinright {-webkit-animation-name: fadeinright; animation-name: fadeinright;z-index:-1;}
@-webkit-keyframes fadeinright {
  0% {opacity: 0; -webkit-transform: translate3d(7%, 0, 0); transform: translate3d(7%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}
@keyframes fadeinright {
  0% {opacity: 0; -webkit-transform: translate3d(7%, 0, 0); transform: translate3d(7%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}
/* Fade out right */
.fadeoutright {-webkit-animation-name: fadeoutright; animation-name: fadeoutright;z-index:1;}
@-webkit-keyframes fadeoutright {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(7%, 0, 0); transform: translate3d(7%, 0, 0);}
}
@keyframes fadeoutright {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(7%, 0, 0); transform: translate3d(7%, 0, 0);}
}

/* Fade in left */
.fadeinleft {-webkit-animation-name: fadeinleft; animation-name: fadeinleft; z-index:-1;}
@-webkit-keyframes fadeinleft {
  0% {opacity: 0; -webkit-transform: translate3d(-7%, 0, 0); transform: translate3d(-7%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none;transform: none;}
}
@keyframes fadeinleft {
  0% {opacity: 0; -webkit-transform: translate3d(-7%, 0, 0); transform: translate3d(-7%, 0, 0);}
  100% {opacity: 1; -webkit-transform: none; transform: none;}
}

/* Fade out left */
.fadeoutleft {-webkit-animation-name: fadeoutleft; animation-name: fadeoutleft; z-index: -1;}
@-webkit-keyframes fadeoutleft {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(-7%, 0, 0); transform: translate3d(-7%, 0, 0);}
}
@keyframes fadeoutleft {
  0% {opacity: 1;}
  100% {opacity: 0; -webkit-transform: translate3d(-7%, 0, 0); transform: translate3d(-7%, 0, 0);}
}







